version: "3.9"

services:
  redis:
    image: redis:alpine
    container_name: redis-persistant
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    restart: unless-stopped

volumes:
  redis_data:
